* {
   outline: 0px solid red !important;
}
.header {
	background-color: #313131;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #A09F9F;
}
.next {
	padding-top: 20px;
}
.right {
	padding-top: 24px;
	color: #A09F9F;
}